# **Python Session 1**

In [1]:
print("Hello World!!")

Hello World!!

In [2]:
a,b=10,20
print("a=",a," b=",b)
print(a+b)

a= 10  b= 20
30

String
use to record some text information, is sequence of characters, basically python track every element in the string as sequence.

**P  y  t  h  o  n** <br>
  0  1  2  3  4  5    <br>
 -6 -5 -4 -3 -2 -1

In [3]:
print(type("code from basics"))
print("hello")
print("Dinesh Kumar")

<class 'str'>
hello
Dinesh Kumar

In [4]:
name="Dinesh Kumar"
print(id(name))#it is a number, so we cannot remember
print(name)

137208009299120
Dinesh Kumar

In [5]:
expr=10*20
print(expr)

200

In [6]:
mydata='''hello'''

print("using print method",mydata)
mydata

using print method hello

'hello'

# String Indexing
**Index starts with 0**

In [7]:
mydata[1]

'e'

In [8]:
mydata[-1]#print last letter

'o'

In [9]:
mydata[-2]#print 2nd last letter

'l'

**Slicing**
Slicing mean taking a particular portion of a String

In [10]:
mydata[1:4]#from index 1 to 4-1th(3) index

'ell'

In [11]:
mydata[:3]# if no number is specified before : then it will start from 0

'hel'

In [12]:
mydata[1:]#if no number is specified after : it will take the element upto end

'ello'

In [13]:
mydata[-3:-1]

'll'

![image.png]()

In [14]:
mydata[-5:-3]

'he'

In [15]:
mydata[::-1]

'olleh'

In [16]:
mydata[-3:-5:-1]# we will get no output, number before the colon is higher that number after the colon

'le'

Concatenating String

In [17]:
firstName="Hari"
lastName="Bhaskar"
print('-'*20)
print(firstName+lastName)
print('-'*20)
print("CFB"*5)

--------------------
HariBhaskar
--------------------
CFBCFBCFBCFBCFB

In [18]:
firstName.upper()

'HARI'

In [19]:
firstName.lower()

'hari'

In [20]:
firstName.index('H')

0

String Formatting

In [21]:
name="Peter"
age=24
isMarried=True
print("name ",name,"age ",age,"isMarried ",isMarried)
print("My name is {}, my age is {}, and Am I married {}".format(name,age,isMarried))
print(f"My name is {name}, age is {age*2}, Am i married {isMarried}")
print("My name is %s, my age is %d, and Am I married %s "%(name,age,isMarried))

name  Peter age  24 isMarried  True
My name is Peter, my age is 24, and Am I married True
My name is Peter, age is 48, Am i married True
My name is Peter, my age is 24, and Am I married True

To do
1. isdigit()
2. casefold()
3. title()
4. split()
5. strip()

Numbers

1. Integer(10,20,-3)
2. Floating point(10.2)

In [22]:
num1,num2=10,3
print("num1",num1,"num2",num2)

num1 10 num2 3

In [23]:
print(num1+num2)
print(num1*num2)
print(num1//num2)
print(num1%num2)

13
30
3
1

In [24]:
2+10*10+3

105

In [25]:
(2+10)*(10+3)

156

In [26]:
15/2+10

17.5

variable must be meaningful
should start with _ or alphabet
should not have any spl. characters

In [27]:
age=10
age10=1
age_10=1
first_name="python"
FIRST_NAME="PROGRAMMING"
print(first_name)

python

Datatype <br>
**Single values**
1. int
2. float
3. Strings
8. Boolean
**Multiple values**
4. Lists
5. Dictionary
6. Typles
7. Set

In [28]:
age=10
avg=10.5
name="python"
isMarried=False
print(type(age))
print(type(avg))
print(type(name))
print(type(isMarried))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

List
1. creating list
2. Indexing and Slicing
3. Basic List Methods
4. Nesting Lists
5. List Comprehension



```
List is ordered
List is mutable
List can have hetrogenous data
List can have duplicate
```

In [29]:
lst=[]
lst1=list()
print(lst)
print(lst1)

[]
[]



```
[101,"Rajkumar","12th",[89,67,56]]
                       __________
  0      1        2        3    
```

In [30]:
student=[101,"Rajkumar","12th",[89,67,56],101]#[id,name,class,marks,doornumber]
print(student)

[101, 'Rajkumar', '12th', [89, 67, 56], 101]

In [31]:
#chaning the name of the student
student[1]="Raju"
print(student)

[101, 'Raju', '12th', [89, 67, 56], 101]

In [32]:
#find the number of elements in student list
len(student)

5

In [33]:
student[2]

'12th'

In [34]:
student[-1]

101

In [35]:
student[-2]

[89, 67, 56]

In [36]:
student[-2][1]

67

In [37]:
len(student[-2])

3

Add elements to the list

In [38]:
lst=[]

In [39]:
lst.append(1)
print(lst)

[1]

In [40]:
lst.append(4)
print(lst)

[1, 4]

In [41]:
lst.append(56)
print(lst)

[1, 4, 56]

In [42]:
lst.append("Vasu")
print(lst)

[1, 4, 56, 'Vasu']

In [43]:
lst.extend([23])
lst

[1, 4, 56, 'Vasu', 23]

In [44]:
lst.extend([1,2,6,7,8,99])
lst

[1, 4, 56, 'Vasu', 23, 1, 2, 6, 7, 8, 99]

List slicing <br>

listname[startindex:endindex]



```
[1, 4, 56, 'Vasu', 45, 89, 'Chennai', 23, 1, 2, 6,  7, 8 , 99]
 0  1   2    3      4   5     6       7   8  9  10 11  12  13
```

In [45]:
lst[3:10]#3 to 9

['Vasu', 23, 1, 2, 6, 7, 8]

In [46]:
lst[:10]#0 to 9

[1, 4, 56, 'Vasu', 23, 1, 2, 6, 7, 8]

In [47]:
lst[2:]#2 to last index(13)

[56, 'Vasu', 23, 1, 2, 6, 7, 8, 99]

In [48]:
lst[13:10]#0 to 9

[]

In [49]:
lst.insert(2,"Codefrombasics")
print(lst)

[1, 4, 'Codefrombasics', 56, 'Vasu', 23, 1, 2, 6, 7, 8, 99]

In [50]:
print(lst.index("Codefrombasics"))
print(lst.index("Codefrombasics",2))
print(lst.index(6,2,9))

2
2
8

In [51]:
#generate some numbers
list(range(5))
print(list(range(3,14)))

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [52]:
nums=list(range(3,14))
print(max(nums))
print(min(nums))
print(sum(nums))
print(len(nums))

13
3
88
11

In [53]:
unordered=[5, 4, 3, 6, 17, 8, 19, 10, 11, 12, 13]
print(unordered)
unordered.sort()#entire list will be sorted,it will change the content
print("after sorted",unordered)
unordered.reverse()#entire list will be reversed, it will change the content
print("after reverse",unordered)

[5, 4, 3, 6, 17, 8, 19, 10, 11, 12, 13]
after sorted [3, 4, 5, 6, 8, 10, 11, 12, 13, 17, 19]
after reverse [19, 17, 13, 12, 11, 10, 8, 6, 5, 4, 3]

In [54]:
# how to perform sorting and reverse without changing the actual content
unordered=[5, 4, 3, 6, 17, 8, 19, 10, 11, 12, 13]
print("sorted list",sorted(unordered))
print("actual list",unordered)
print("reversed",sorted(unordered,reverse=True))
print("actual list",unordered)

sorted list [3, 4, 5, 6, 8, 10, 11, 12, 13, 17, 19]
actual list [5, 4, 3, 6, 17, 8, 19, 10, 11, 12, 13]
reversed [19, 17, 13, 12, 11, 10, 8, 6, 5, 4, 3]
actual list [5, 4, 3, 6, 17, 8, 19, 10, 11, 12, 13]

In [55]:
lst

[1, 4, 'Codefrombasics', 56, 'Vasu', 23, 1, 2, 6, 7, 8, 99]

In [56]:
lst.count(56)

1

In [57]:
#removing the elements from the list
# print("before removing",lst)
# lst.remove('Vasu')
# print("after removing",lst)


#if you want to remove the element based on the index
# print("before removing",lst)
# lst.pop(2)# 2 is the index
# print("after removing 2nd position element ",lst)

#pop() it will remove the last element
# lst.pop()
# print(lst)

#i want to remove the elements 23, 1, 2
# del lst[3:6]
# print(lst)

# del lst #this will remove the lst from the memory
# print(lst)

In [58]:
#tuples are like list but it is immatable, elements cannot be changed

t1=(1,2,3)
print(t1)
print(type(t1))
t2=1,
print(type(t2))

#same type can be concatenated (joined)
# 1+1
# 7.5+4.5
# # 1+'a'
# [1,2]+(3,4)

(1, 2, 3)
<class 'tuple'>
<class 'tuple'>

In [59]:
# t1[1]=13 #error, because tuple is immutable

In [60]:
t1_list=list(t1) #converts the t1 tuple into list
t1_list[1]=13
t1=tuple(t1_list) #converts the t1list to t1 tuple
print(t1)

(1, 13, 3)

In [61]:
t1.count(1)

1

In [62]:
t1.index(1)

0

In [63]:
# t1.index(12)

In [64]:
t3=tuple(range(11,25))
print(t3)

(11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24)

In [65]:
indexof15=t3.index(16) #4
print(indexof15)
t3[indexof15:indexof15+3]

5

(16, 17, 18)

In [66]:
#set elements are enclosed with {}
# elements do not have index number
# order cannot be maintained(unordered)
# set can be accessed only with for Loop
# set will not allow duplicate

In [67]:
nums={3,4,112,789}
print(nums)

nums.add(345)
print("after adding 345",nums)

nums.update({116,765})
print("after updating",nums)

nums.remove(345)
print("after removing 345",nums)

deltedelement=nums.pop()
print(deltedelement)

{112, 3, 4, 789}
after adding 345 {3, 4, 112, 789, 345}
after updating {3, 4, 112, 116, 789, 345, 765}
after removing 345 {3, 4, 112, 116, 789, 765}
3

In [68]:
set1={1,2,3,4,5,6}
set2={11,12,13,14,15,16}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set2.difference(set1))

print(234 in set1)
print(234 not in set1)

#i want uncommon element from both set1 and set2
print(set1.symmetric_difference(set2))
print(set2.symmetric_difference(set1))

print(set1.isdisjoint(set2))# none of the elements from set1 is not in the set2
print(set2.isdisjoint(set1))# none of the elements from set2 is not in the set1

{1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16}
set()
{1, 2, 3, 4, 5, 6}
{11, 12, 13, 14, 15, 16}
False
True
{1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16}
{1, 2, 3, 4, 5, 6, 11, 12, 13, 14, 15, 16}
True
True

# Dictionary in python
1. values will be stored in key:value pair
2. like set it will not follow the order(Unordered)
3. elements will be accessed using its key
4. Keys cannot be duplicated
5. Values can be duplicated
6. like set elements are enclosed with {}

In [69]:
mydict={'two':'2'}
mydict1=dict()
print(mydict)
print(mydict1)
print(type(mydict))

{'two': '2'}
{}
<class 'dict'>

In [70]:
#adding elements to dictionary

mydict['one']=1
print(mydict)
mydict['three']=3
print(mydict)

{'two': '2', 'one': 1}
{'two': '2', 'one': 1, 'three': 3}

In [71]:
#accessing the elements of dictionary
print(mydict['one'])# 'one' is the key, value for the key will be printed as output
print(mydict['three'])
print(mydict.get('two'))
print(mydict.get("four","No value"))

1
3
2
No value

In [72]:
#removing the elements from dictionary

# del mydict['two']
# print(mydict)

# mydict.popitem()#it will remove the last element
# print(mydict)

mydict['four']=4
mydict['five']=5
print(mydict)
print(len(mydict))
mydict.pop('five')
print(mydict)

{'two': '2', 'one': 1, 'three': 3, 'four': 4, 'five': 5}
5
{'two': '2', 'one': 1, 'three': 3, 'four': 4}

In [73]:
print("Keys",mydict.keys())
print("values",mydict.values())

Keys dict_keys(['two', 'one', 'three', 'four'])
values dict_values(['2', 1, 3, 4])

In [74]:
print("four" in mydict)
print("four" not in mydict)
print("six" in mydict)#false
print("six" not in mydict)#true
mydict["six"]=6
print(mydict)

True
False
False
True
{'two': '2', 'one': 1, 'three': 3, 'four': 4, 'six': 6}

In [75]:
dict2={"seven":7,"eight":8}
mydict.update(dict2)
print(mydict)
print(mydict.items())
# [(k,v),(k,v),(k,v)]
mydict.setdefault("nine",9)#check and insert,if the element is not present, if the key is alredy present, the value will not be updated in setdefault
print(mydict)

{'two': '2', 'one': 1, 'three': 3, 'four': 4, 'six': 6, 'seven': 7, 'eight': 8}
dict_items([('two', '2'), ('one', 1), ('three', 3), ('four', 4), ('six', 6), ('seven', 7), ('eight', 8)])
{'two': '2', 'one': 1, 'three': 3, 'four': 4, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9}

In [76]:
#control statements
# 1.if
# 2. if else
# 3. if elif
#break
#continue

In [77]:
nums=list(range(1,11))
print(nums)
nums.remove(10)
if(10 in nums):
  print("10 is present")
else: #false statement
  print("10 is not present")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10 is not present

In [78]:
marks=7
if(marks>90):
  print("Grade A")
elif(marks>80):
  print("Grade B")
elif(marks>70):
  print("Grade C")
elif(marks>60):
  print("Grade D")
elif(marks>50):
  print("Grade E")
else:
  print("Grade F")

Grade F

In [79]:
age=17
if(age>18):
  print("eligible to vote")
else:
  print("not eligible to vote")

not eligible to vote

In [80]:
nums
for i in nums:
  if(i==5):
    break
  print(i)

1
2
3
4

In [81]:
nums
for i in nums:
  if(i==5):
    continue
  print(i,end="*")

1*2*3*4*6*7*8*9*

In [82]:
set1
for i in set1:
  print(i)

1
2
3
4
5
6

In [83]:
nums=list(range(11,21))
index=0
while(index<len(nums)):
  print(index,nums[index])
  index=index+1


print()

index=len(nums)-1  #starting from 9
while(index>=0): #current index value is above or equal to zero
  print(index,nums[index]) #9  20  8 19
  index=index-1  #index value is 8 7.........0,-1 and stop

0 11
1 12
2 13
3 14
4 15
5 16
6 17
7 18
8 19
9 20

9 20
8 19
7 18
6 17
5 16
4 15
3 14
2 13
1 12
0 11

In [84]:
from ast import comprehension
#list comprehension
mylist=[7,8,9]
# [14,16,18] expected output
mylist2=[]
for i in mylist:
  mylist2.append(i*2)
print(mylist2)

# using list comprehension
mylist3=[i*2 for i in mylist]
print(mylist3)

mylist4=[i*2 for i in range(10,20) if i%2==0]
print(mylist4)

[14, 16, 18]
[14, 16, 18]
[20, 24, 28, 32, 36]

In [86]:
#dictionary comprehension

number_square={i:i*2 for i in range(1,11)}
print(number_square)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

In [89]:
myname="Bala's phonenumber"
print(myname)
myname='CodeFromBasics is "good" tranining institute'
print(myname)
myname='''CodeFromBasics
is a good training institute'''
print(myname)

Bala's phonenumber
CodeFromBasics is "good" tranining institute
CodeFromBasics
is a good training institute

 ## Functions
 is a block which contains some business logic(Ex:Square, Cube)
 it can writen only once and called many time
 we have already seen some functions
 1. len()
 2. sum()
 3. print()
 4. min()
 5. max()
```
 def functionname(arguments):
     statement1
     statemnet2
```
  
functionname(arguments)

In [91]:
def printmyname(): #defining a function without argument
  print("Dinesh")

printmyname()  #calling a function
printmyname()
printmyname()

Dinesh
Dinesh
Dinesh

In [92]:
def printsquareoftwo():
  print(2*2)

printsquareoftwo()

4

#Function with arugments


```
def functionname(number):  #number is an arugment
    print(number)
```
functionname(10)

In [93]:
def greeting(name):
  print("Good Evening",name)

In [94]:
greeting("Mathi")

Good Evening Mathi

In [95]:
greeting("Shanmugam")

Good Evening Shanmugam

In [97]:
def square(number):
  print(number*number)

square(10)

100

In [99]:
def addition(num1,num2): #non returned function
  print(num1+num2)

addition(10,20)
addition(4,7)
addition(8,2)
print(addition(9,1))

30
11
10
10
None

In [102]:
print(len("Python programming"))
print(max("Python programming"))

18
y

In [106]:
def doubleIt(num):
  return num*2
answer=doubleIt(8)
print(answer)

result=doubleIt(13)
print(result)

#find the value returned by doubleIt function is higher 10
if(result>10):
  print("doubleIt(13) give value above 10")
else:
  print("doubleIt(13) give value not above 10")
print(doubleIt(13))# this way of calling a function will not serve the purpose

16
26
doubleIt(13) give value above 10
26

TypeError: doubleIt() missing 1 required positional argument: 'num'

In [107]:
#default arugument
def greeting(name="Guest"):
  print("Good Evening",name)

greeting("Dinesh")
greeting()

Good Evening Dinesh
Good Evening Guest

In [109]:
def tripleIt(num=2):
  print("Num value is",num)
  print(num*3)

tripleIt(9)
tripleIt()

Num value is 9
27
Num value is 2
6

In [112]:
def getInputFromUser(name,age,city="Delhi"):
  print(name,age,city)

getInputFromUser("Dinesh",25)

Dinesh 25 Delhi

In [115]:
# how to write a function to get different number of arugument during runtime

def getInputFromUser(*args):
  for arg in args:
    print(arg)

getInputFromUser("Dinesh",25,"Delhi","India")

Dinesh
25
Delhi
India

In [119]:
# getting dynamic input from user and storing it in dictionary
def getInputFromUser(**kwargs):
  for arg in kwargs.items():
    print(arg)

getInputFromUser(name="Dinesh",age=25,city="Delhi",country="India")

('name', 'Dinesh')
('age', 25)
('city', 'Delhi')
('country', 'India')

In [120]:
def findsquare(num1):
  return num1*num1

print(findsquare(10))

100

In [121]:
# using lambda(unnamed function)
#used for writing single line logics
getsquare=lambda x:x*x
print(getsquare(10))

100

In [122]:
add=lambda x,y:x+y
print(add(6,7))

13

In [129]:
#higher order function- function inside a function

lst=[3,7,2,6,9]

# map(functionname,iterable)-> n inputs-> n outputs
# iterable->list,tuple,set,dictionary,string
print(list(map(lambda x:x+1,lst))) #[4,8,3,7,10]
print(list(map(lambda x:x*x,lst))) #[4,8,3,7,10]
print(list(map(lambda x:x**3,lst))) #[4,8,3,7,10]
nextnum=lambda x:x+1
lst2=[nextnum(i)for i  in lst]

print(lst2)

print(list(map(findsquare,lst)))

[4, 8, 3, 7, 10]
[9, 49, 4, 36, 81]
[27, 343, 8, 216, 729]
[4, 8, 3, 7, 10]
[9, 49, 4, 36, 81]

In [131]:
#find the number to print the values above 5

lst=[3,7,2,6,9]
print(list(filter(lambda x:x>5,lst)))
print(list(filter(lambda x:x%2==0,lst)))

[7, 6, 9]
[2, 6]

In [135]:
from functools import reduce
#reduce -> n input-> 1 output
# [3,7,2,6,9]
print(reduce(lambda x,y:x+y,lst))


# 3,7,2,6,9   x=3 y=7
# 10,2,6,9    x=10 y2
# 12,6,9      x=12 y=6
# 18,9        x=18  y=9
# 27

print(reduce(lambda x,y:x if x>y else y,lst))

# 3,7,2,6,9   x=3 y=7
# 7,2,6,9     x=7 y=2
# 7,6,9       x=7  y=6
# 9

27
9

In [ ]:
print()